<% @employees.each do |employee| %>
  <h1><a href="/employees/<%= employee.id %>"><%= employee.full_name %></a></h1>
  <h2>Email: <%= employee.email %></h2>
  <h2>Birthday: <%= employee.friendly_birthday %></h2>
<% end %>